# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List commonly used Data Science Tools

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. searbon
5. keras

| Data Science Tools|
------------------|
|jupyter notebook|
|RStudio|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes equal to " + str(200/60) + ' hours')

200 minutes equal to 3.3333333333333335 hours

## Author
Vincent